In [11]:
import data
data.load_data()

NameError: name '__download_json' is not defined

In [7]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_2ddg_user:Fya25QbuhhKZxhnj53WkHm3vsIsDVd35@dpg-cpsct1t6l47c73e3h8e0-a.singapore-postgres.render.com/tvdi_2ddg")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql = '''
            CREATE TABLE IF NOT EXISTS youbike(
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp,
            total SMALLINT,
            rent_bikes SMALLINT,
            retuen_bikes SMALLINT,
            lat REAL,
            lng REAL	
        );
        '''
        cursor.execute(sql)
    
conn.close()

In [19]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_2ddg_user:Fya25QbuhhKZxhnj53WkHm3vsIsDVd35@dpg-cpsct1t6l47c73e3h8e0-a.singapore-postgres.render.com/tvdi_2ddg")
with conn: #with conn會自動commit(),手動close
    with conn.cursor() as cursor: #自動close()
        sql = '''
            CREATE TABLE IF NOT EXISTS youbike(
            _id Serial Primary Key,
            sna VARCHAR(50) NOT NULL,
            sarea VARCHAR(50),
            ar VARCHAR(100),
            mday timestamp,
            updateTime timestamp,
            total SMALLINT,
            rent_bikes SMALLINT,
            return_bikes SMALLINT,
            lat REAL,
            lng REAL,
            act boolean
        );
        '''
        cursor.execute(sql)
    
conn.close()

In [24]:
import psycopg2
conn = psycopg2.connect("postgresql://tvdi_2ddg_user:Fya25QbuhhKZxhnj53WkHm3vsIsDVd35@dpg-cpsct1t6l47c73e3h8e0-a.singapore-postgres.render.com/tvdi_2ddg")
conn.close()

In [26]:
import data
all_data:list[dict] = data.load_data()

NameError: name '__download_json' is not defined

In [22]:
conn = psycopg2.connect("postgresql://tvdi_et5g_user:rO4f8W7mB0kylH1UvACmrEKJSrznix20@dpg-cpscs956l47c73e3h0bg-a.singapore-postgres.render.com/tvdi_et5g")
with conn:
	with conn.cursor() as cursor:            
		insert_sql = '''
		INSERT INTO youbike(sna, sarea, ar, mday, updatetime, total, rent_bikes,return_bikes,lat,lng,act)
		VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
		'''
		for site in all_data:
			cursor.execute(insert_sql,(site['sna'],
							  site['sarea'],
							  site['ar'],
							  site['mday'],
							  site['updateTime'],
							  site['total'],
							  site['rent_bikes'],
							  site['retuen_bikes'],
							  site['lat'],
							  site['lng'],
							  site['act']
							  ))
conn.close()

NameError: name 'all_data' is not defined